<!DOCTYPE html>

  <div>
  Hi there!  Log in to get connecting!
  </div>

  <div class = "login_wrapper">
    <form class="login_form" action="/login" method="post">
      <p id="input"><input type="text" name="email" placeholder="Email"></p>
        
      <p id="input"><input type="password" name="password" placeholder="Password"></p>

    </form>
    <button id="login_button">Log in!</button>

  </div>
  <div>
    Don't have an account?  Please sign up!

    <p><button id="register_button">Sign up!</button></p>
  </div>
  <script type="text/javascript" src="/js/login.js"></script>

