Enter your info here!

<form class="registration_form" action="/register" method="post">
  <p id="input"><input type="text" name="username" placeholder="Name"></p>

  <p id="input"><input type="text" name="email" placeholder="Email"></p>
    
  <p id="input"><input type="password" name="password" placeholder="Password"></p>

</form>
  <button id="reg_done_button">Get connected!</button>

<script type="text/javascript" src="/js/register.js"></script>